@import "normalize.css";
@import "basscss";

@import "base/reboot";

@import "components/command-prompt";
@import "components/fastboot-logo";
@import "components/main-hero";
@import "components/main-hero-terminal";
@import "components/main-nav";
@import "components/syntax";

:root {
  --dark-gray: #111;
  --white: white;
  --green: #52ECC7;
  --purple: #8692FF;

  --link-color: #7972CE;

  --easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);

  --font-family: "tablet-gothic", "Helvetica Neue", Arial, sans-serif;
  --monospace-font-family: Menlo, Meslo, Monaco, monospace;
  --font-size: 18px;
}
