@import "normalize.css";
@import "basscss";

@import "base/reboot";

@import "components/command-prompt";
@import "components/main-hero";
@import "components/main-hero-terminal";

:root {
  --dark-gray: #111;
  --white: white;
  --green: #52ECC7;
  --purple: #8692FF;

  --link-color: #7972CE;

  --font-family: "tablet-gothic", "Helvetica Neue", Arial, sans-serif;
  --monospace-font-family: Menlo, Meslo, Monaco, monospace;
  --font-size: 18px;
}
