@import "nav-bar.css";

html, body {
  margin: 0;
  padding: 0;
}

.intro {
  background: url(/images/nebula.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.instructions {
  width: 60%;
  max-width: 960px;
  height: 600px;
  background: rgba(0,0,0,0.8);
  box-shadow: rgba(0,0,0,0.8) 0 0 18px 8px;
}
