*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: #6F7C82;
  font-family: var(--font-family);
  line-height: 1.5;
  font-size: var(--font-size);
}

a {
  border-bottom: 2px solid #EFF3F6;
  color: var(--link-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292E31;
  margin: 2em 0 0.5em;
}

h1 {
  font-size: var(--h1);
  font-weight: 300;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h4);
}

h6 {
  font-size: var(--h6);
}

code {
  font-family: var(--monospace-font-family);
}

img,
svg {
  max-width: 100%;
}
