<a
  href="https://www.eventbrite.com/e/ember-fastboot-ssr-beyond-tickets-144468965565"
  class="main-hero-meetup"
  target="_blank"
  rel="noopener">
  <div class="content">
    <p class="invite">
      Joins us <span class="orange">&nbsp;Wed April 14th</span>
    </p>
    Ember Fastboot SSR & Beyond Meetup
  </div>
  <div class="button">
    Register
  </div>
</a>
