.main-hero {
  align-items: center;
  background: linear-gradient(135deg, #182848, #4B6CB7);
  color: var(--white);
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
  min-height: 100vh;
}

.main-hero-logo {
  font-weight: 300;
  font-style: italic;
}

.main-hero-slogan {
  color: var(--purple);
  font-size: var(--h3);
  font-weight: normal;
}

.main-hero-requirements {
  color: rgba(255, 255, 255, 0.25);
  font-size: var(--h6);
  text-align: center;
}

.main-hero-actions {
  text-align: center;
}

.main-hero-button {
  border: 2px solid;
  border-radius: 0.25em;
  color: var(--green);
  display: inline-block;
  font-weight: 600;
  min-width: 10em;
  padding: 0.55em 2em 0.75em;
  text-align: center;
  text-decoration: none;
}
