<div class="flex p1">
  <div class="main-hero-terminal-traffic-light"></div>
  <div class="main-hero-terminal-traffic-light"></div>
  <div class="main-hero-terminal-traffic-light"></div>
</div>

<div class="px2 pb2">
  <pre class="m0"><code><span class="faded">$</span> <span class="orange">ember</span> install <span class="purple">ember-cli-fastboot</span></code></pre>
</div>
