<div>
  <div class="center">
    {{fastboot-logo}}

    <h2 class="main-hero-slogan">
      Progressive enhancement for<br>
      ambitious web apps.
    </h2>
  </div>

  <div class="my4">
    {{main-hero-terminal}}

    <div class="main-hero-requirements mt1">
      Ember.js 2.3+ required (Ember.js 2.4+ recommended)<br>
      Node.js 0.10+
    </div>
  </div>

  <div class="main-hero-actions">
    {{#link-to 'page' 'quickstart' class='main-hero-button'}}
      Quickstart
    {{/link-to}}

    {{#link-to 'page' 'docs/user-guide' class='main-hero-button'}}
      User Guide
    {{/link-to}}
  </div>
</div>
