<div>
  <div class="center">
    <h1 class="main-hero-logo">FastBoot</h1>

    <h2 class="main-hero-slogan">
      Progressive enhancement for free.
    </h2>
  </div>

  <div class="my4">
    {{main-hero-terminal}}

    <div class="main-hero-requirements mt1">
      Ember.js 2.3+ required (Ember.js 2.4 beta+ recommended)<br>
      Node.js 0.10+
    </div>
  </div>

  <div class="main-hero-actions">
    {{#link-to 'quickstart' class='main-hero-button'}}
      Quickstart
    {{/link-to}}
  </div>
</div>
