{{#liquid-bind model as |currentModel|}}
  <div class="p1">
    {{main-nav}}
    <section class="max-width-3 mx-auto">
      {{#if currentModel}}
        {{md-text text=currentModel html=true typographer=true linkify=true}}
      {{else}}
        {{route-error}}
      {{/if}}
    </section>
  </div>
{{/liquid-bind}}
